{% extends 'base.html.twig' %}

{% block body %}
    <div class="contact">
        <div class="container">
            <div class="row">
                <h2 class="contact__title">Contact Gegevens</h2>
                <div class="contact__wrapper">
                    <div class="contact__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2453.940231641043!2d4.247919915986218!3d52.04440147911783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b171dfd3195d%3A0x14cbe8c02cccb47c!2sTinwerf%2016%2C%202544%20ED%20Den%20Haag!5e0!3m2!1snl!2snl!4v1674033887102!5m2!1snl!2snl"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <ul class="contact__list">
                        <li class="contact__list--item">Tinwerf 16</li>
                        <li class="contact__list--item">2497PW, Den Haag</li>
                        <br/>
                        <li class="contact__list--item">+31619858996</li>
                        <li class="contact__list--item">trainingfactory@rocmondriaan.nl</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}