{% extends 'base.html.twig' %}

{% block body %}
    <div class="rules">
        <div class="container">
            <div class="row">
                <h2 class="rules__title">Huisregels</h2>
                <ul>
                    <li class="rules__list--item">Om te kickboksen is een minimale leeftijd van 4 jaar verplicht.</li>
                    <li class="rules__list--item">Bij ieder bezoek registreert u zich met een lidmaatschapspas.</li>
                    <li class="rules__list--item">Uw ledenpas is uw bewijs van lidmaatschap. Zonder ledenpas krijgt u in principe geen toegang tot
                        het sportcentrum en de trainingen. Bij verlies worden de kosten voor het aanmaken van een nieuwe
                        ledenpas op u verhaald ( € 9,95 ).
                    </li>
                    <li class="rules__list--item">Niet betalen is dus ook niet trainen.</li>
                    <li class="rules__list--item">Het is verboden om de dojo met schoenen aan te betreden.</li>
                    <li class="rules__list--item">Omkleden kunt u doen in de kleedkamers, sporttassen, kleding enz. blijven in de kleedkamer, deze
                        zijn niet toegestaan in de sportzaal.
                    </li>
                    <li class="rules__list--item">Sauna vanaf 14 jaar.</li>
                    <li class="rules__list--item">Alle clubleden hebben het recht om ongestoord te trainen. Wij verzoeken u om hinderlijk en
                        storend gedrag, alsmede het voortijdig verlaten van groepstrainingen/lessen (behoudens in geval
                        van nood of wanneer dit vooraf met de trainer/instructeur is overlegd), achterwege te laten.
                    </li>
                    <li class="rules__list--item">Iedereen dient minimaal tien minuten voor de les aanwezig te zijn. Bandages en toilet bezoek kan
                        allemaal voor de training.
                    </li>
                    <li class="rules__list--item">De technieken die je worden geleerd zijn ten strengste verboden om op straat te gebruiken.</li>
                    <li class="rules__list--item">Om misvattingen te voorkomen verzoeken wij alle leden gebruik te maken van de Nederlandse
                        taal.
                    </li>
                    <li class="rules__list--item">Leden zijn verplicht om gezondheidsproblemen te melden aan de trainer.</li>
                    <li class="rules__list--item">Discipline uit zich in het goed meedoen aan de lessen en luisteren naar de trainer. Heb respect
                        voor de trainers en mede sporters.
                    </li>
                    <li class="rules__list--item">Onze kleedruimten worden op gezette tijden gereinigd en zijn toegankelijk voor alle leden. Wij
                        verzoeken u derhalve geen waardevolle spullen achter te laten in de kleedkamers. Wij zijn niet
                        aansprakelijk voor verlies en/of diefstal van uw eigendommen.
                    </li>
                    <li class="rules__list--item">Ouders van kinderen zijn verantwoordelijk voor het gedrag van hun kinderen.</li>
                    <li class="rules__list--item">Wij accepteren geen hoofd accessoires. ( Geen pet, muts enz. )</li>
                    <li class="rules__list--item">Wij accepteren geen slippers in de sportruimte.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}