@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.container {
    padding: 0 12px;
}

.btn {
    padding: 8px 12px;
    border: black 2px solid;
    background: transparent;
    border-radius: 0;
    cursor: pointer;
    color: black;
    font-weight: 600;
}

div:has(> .auth__form--checkbox) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
    gap: 4px;
}

.auth__form--checkbox {
    width: 20px;
    height: 20px;
}

.auth__form--input {
    width: 100%;
    padding: 8px 12px;
    border: black 2px solid;
}

.auth__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
}

.auth__form--wrapper {
    width: 100%;
}

.alert {
    width: 100%;
    color: #155724;
    background-color: #d4edda;
    border: solid 2px #c3e6cb;
    font-weight: 300;
    padding: 12px;
    border-radius: 4px;
    margin: 12px 0;
}

.alert__success {
    color: #155724;
    background-color: #d4edda;
    border: solid 2px #c3e6cb;
}

.alert__error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/*

    NAV

*/

nav {
    padding: 12px 0;
}

.nav__logo {
    width: 200px;
}

.nav__logo--img {
    width: 100%;
}

.nav__icon {
    font-size: 32px;
}

.nav__list--hyper {
    color: black;
    transition: ease .1s;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 300;
}

.nav__list--hyper:hover {
    font-weight: 500;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn__menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.menu__links {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu__link {
    display: flex;
    color: white;
    background-color: #5F8D4E;
    width: 100%;
    border-radius: 12px;
    padding: 12px;
}

.menu__backdrop {
    display: none;
}

.menu--open .menu__backdrop {
    display: block;
}




















/*
    MEDIA QUERIES
*/

@media (max-width: 680px) {
    .btn__menu {
        display: block;
    }

    .nav__static {
        display: none;
    }
}