{% extends 'base.html.twig' %}


{% block body %}
    {% for user in users %}
        {{ user.email }}
        <button onclick="location.href='{{ path('admin_editUser', {userId: user.id}) }}'">Edit</button>
        <button onclick="location.href='{{ path('admin_deleteUser', {userId: user.id}) }}'">Delete</button>
        <br>
    {% endfor %}
{% endblock %}
