{% extends 'base.html.twig' %}

{% block body %}

    <div class="example-wrapper">
        <table>
            <tr>

                <td>
                    <b>Email:</b>
                </td>
                <td>
                    {{ app.user.email }}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
